<%- include('../navbar', {active: "admin-servers"}); %>
<div class="container-fluid">
    <h3 class="text-dark mb-4"><a style="text-decoration: none" href="/admin/groups">Servers</a> / new </h3>
    <div class="card shadow mb-5">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Server editing</p>
        </div>
        <form method="POST" action="/admin/servers/add/">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                        <div class="mb-3"><label class="form-label"><strong>Hostname</strong></label><input class="form-control" placeholder="exemple.accessgate" type="text" name="server_hostname"></div>
                        <div class="mb-3"><label class="form-label"><strong>IP Address</strong></label><input class="form-control" placeholder="127.0.0.1" type="text" name="server_ip"></div>
                        <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Create server</button></div>
                </div>
                <div class="col-md-6">
                        <div class="mb-3"><label class="form-label"><strong>User</strong></label><input class="form-control" placeholder="root" type="text" name="server_username"></div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
</div>
<%- include('../footer'); %>