<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>AccessGate</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="/static/assets/css/styles.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
</head>
<body id="page-top">
<div id="wrapper">
    <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark">
        <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
                <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-lock"></i></div>
                <div class="sidebar-brand-text mx-3"><span>AccessGate</span></div>
            </a>
            <hr class="sidebar-divider my-0">
            <ul class="navbar-nav text-light" id="accordionSidebar">
                <li class="nav-item"><a class="nav-link <%if(active=="index"){%>active<%}%>" href="/"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                <li class="nav-item"><a class="nav-link <%if(active=="keys"){%>active<%}%>" href="/keys"><i class="fas fa-key"></i><span>Keys</span></a></li>
                <% if (session_user.admin) { %>

                <li class="nav-item"><a class="nav-link <%if(active=="admin-users"){%>active<%}%>" href="/admin/users"><i class="far fa-user"></i><span>Users</span></a></li>
                <li class="nav-item"><a class="nav-link <%if(active=="admin-groups"){%>active<%}%>" href="/admin/groups"><i class="fas fa-stream"></i><span>Groups</span></a></li>
                <li class="nav-item"><a class="nav-link <%if(active=="admin-servers"){%>active<%}%>" href="/admin/servers"><i class="far fa-hdd"></i><span>Servers</span></a></li>
                <% } %>

                <li class="nav-item"><a class="nav-link" href="/auth/logout"><i class="far fa-user-circle"></i><span>Disconnect</span></a></li>
            </ul>
        </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="navbar navbar-expand bg-white shadow mb-4 topbar static-top navbar-light">
                <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                    <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group"></div>
                    </form>
                    <ul class="navbar-nav flex-nowrap ms-auto">
                        <li class="nav-item dropdown no-arrow">
                            <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"><span class="d-none d-lg-inline me-2 text-gray-600 small"><%= session_user.login %></span><img class="border rounded-circle img-profile" src="<%= session_user.avatar %>"></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>